In [52]:
import pandas as pd
import logging

## CN

### Monthly export data

In [53]:
data_path = "db/cn/data/export/cn_export_m.csv"
data = pd.read_csv(data_path, index_col=[0])
mapping_path = "db/mapping/export/export_mapping_template.xlsx"
mapping_template = pd.read_excel(mapping_path, index_col=None)
unit_list = [[g.strip() for g in i.split(',')] for i in mapping_template['Unit'].dropna().tolist()]
unit_component = list(set(item for sublist in unit_list for item in sublist))

columns = data.columns

# CNY bn into LCU
currency_replace_num = 0
currencies = ["CNY", "USD"]
for currency in currencies:
    new_columns = []
    for column in columns:
        if currency in column:
            new_columns.append(column.replace(f"{currency} bn", "LCU"))
            currency_replace_num += 1
        else:
            new_columns.append(column)
    columns = new_columns
logging.info(f"Currency replace num : {currency_replace_num}")


# Check unit order 
unit_replace_num = 0
new_columns = []
for column in columns:
    unit_num = 0
    for unit in unit_component:
        if unit in column:
            unit_num += 1
    
    right_unit_order = [", ".join(units).strip(", ") for units in unit_list if len(units) == unit_num]
    if not any([i for i in right_unit_order if i in column]):
        cond1 = "SA, LCU"
        cond2 = "SA, % of total"
        
        if cond1 in column:
            column = column.replace(cond1, "LCU, SA")
            unit_replace_num += 1
            
        elif cond2 in column:
            column = column.replace(cond2, "% of total, SA")
            unit_replace_num += 1
            
        else:
            print(column)
        new_columns.append(column)
    else:
        new_columns.append(column)
logging.info(f"Unit replace num : {unit_replace_num}")
data.columns = columns
data.to_csv(data_path, index=True)

China, Exports, % of world, CCA
China, Exports, % of world, CCA, 3mma
Exports, Other firms, % of world, CCA
Exports, Other firms, % of world, CCA, 3mma
DM excl Japan, Exports, Contribution to YoY % chg, ppts, 3mma
ASEAN, Exports, Contribution to YoY % chg, ppts, 3mma
North Asia, Exports, Contribution to YoY % chg, ppts, 3mma
EM, Exports, Contribution to YoY % chg, ppts, 3mma
State firms, Exports, Contribution to YoY % chg, ppts, 3mma
Private firms, Exports, Contribution to YoY % chg, ppts, 3mma
Foreign firms, Exports, Contribution to YoY % chg, ppts, 3mma
Other firms, Exports, Contribution to YoY % chg, ppts, 3mma

In [47]:
data

,"Exports, Main product, Agriculture Product, LCU, % YoY","Exports, Main product, Medical or Surgical Instrument & Apparatus, LCU, % YoY","Exports, Main product, Plastic Article, LCU, % YoY","Exports, Main product, Furniture & Part thereof, LCU, % YoY","Exports, Main product, Refined Petroleum Product, LCU, % YoY","Exports, Main product, Mobile Phone, LCU, % YoY","Exports, Main product, Garment & Clothing Accessory, LCU, % YoY","Exports, Main product, Unwrought Aluminium & Aluminium Product, LCU, % YoY","Exports, Main product, Mechanical & Electrical Product, LCU, % YoY","Exports, Main product, Auto parts, LCU, % YoY",...,"Auto exports, North America, USD m","Auto exports, Australia and NZ, USD m","Auto exports, India and Middle East, USD m","Auto exports, Europe, USD m.1","Auto exports, East Asia, USD m.1","Auto exports, Russia, USD m.2","Auto exports, Other EM, USD m.1","Auto exports, North America, USD m.1","Auto exports, Australia and NZ, USD m.1","Auto exports, India and Middle East, USD m.1"
Date,,,,,,,,,,,,,,,,,,,,,
1994-01-01,NaN,NaN,48.172535,NaN,NaN,NaN,48.198190,NaN,52.509724,2811.747000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-02-01,NaN,NaN,-2.564025,NaN,NaN,NaN,-12.424874,NaN,3.856611,762.036250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-03-01,NaN,NaN,43.098248,NaN,NaN,NaN,16.682280,NaN,39.655888,1179.602800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-04-01,NaN,NaN,31.091463,NaN,NaN,NaN,62.521065,NaN,30.190063,1435.565000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994-05-01,NaN,NaN,34.391150,NaN,-57.041943,NaN,36.897205,63.513123,31.515180,1723.149200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-01,29.886902,-4.940307,-7.130516,-25.226927,116.610910,-11.606479,-21.788395,-17.957867,-3.190672,7.763946,...,1117.041234,614.933070,1111.353721,33.503679,20.011468,13.252022,3.928615,11.512572,6.337690,11.453954
2023-03-01,17.424154,12.757421,26.576710,13.676655,27.744055,-31.902908,31.893230,-26.643085,12.296617,25.310003,...,1737.589842,520.310019,1672.496428,26.542676,22.722511,14.200426,4.676521,14.084052,4.217378,13.556436
2023-04-01,3.244352,7.359719,7.573819,-0.009918,-19.792187,-12.747061,13.977742,-35.373127,10.404658,30.001904,...,1749.709618,758.902411,1758.168642,28.019267,19.690859,15.245351,4.472703,13.356962,5.793322,13.421536
2023-05-01,-7.377434,-3.190863,-11.080742,-14.806128,18.403137,-25.019772,-12.505889,-42.121950,-2.105004,13.424671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN